@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.about {

  &Info {
    padding: 50px 0 50px 250px;
    @include respond-to(desktop) {padding: 45px 0 45px 250px;}
    @include respond-to(lg) {padding: 25px 0 25px 200px;}
    @include respond-to(md) {padding: 25px 0 25px 140px;}
    @include respond-to(sm) {
      width: 60%;
      margin: 0 auto;
      padding: 25px 0 0;
    }
    @include respond-to(xs) {
      width: auto;
      margin: 0;
      padding: 25px 0 25px 25px;
    }

    ul {
      li {
        margin-bottom: 20px;

        p {
          font-family: $font; color: $brand;
          font-size: 15px; line-height: 18px;

          strong {font-weight: bold;}
        }
      }
    }
  }
}
